.right-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2a3942;
}
.right-container.dark {
  background: #202c33;
  color: #e9edef;
}
.right-container.light {
  background: #e9edef;
  color: #202c33;
}